{% if site.resume_section_education %}
<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
 {% for education in site.data.education %}
    <h4 class="degree">education.degree</h4>
    <h5 class="meta">education.uni</h5>
    <div class="time">education.year</div>
 {% endfor %}
<div class="item">
    <h4 class="degree">MSc in Computer Science</h4>
    <h5 class="meta">University of London</h5>
    <div class="time">2011 - 2012</div>
</div><!--//item-->
 
<div class="item">
    <h4 class="degree">BSc in Applied Mathematics</h4>
    <h5 class="meta">Bristol University</h5>
    <div class="time">2007 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->
{% endif %}
