{% if site.resume_section_experience %}
<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                {% for job in site.data.experience %}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{job.position}}</h3>
                            <div class="time">{{job.duration}}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{job.company}}, {{job.location}}</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>{{job.summary}}</p>  
                     </div><!--//details-->
                </div><!--//item-->  
                {% endfor %}
  
</section><!--//section-->
{% endif %}
